  #count {
      color:rgb(101,180,107);
      text-align:center;
      font-family:impact;
  }
  #arrow {
      width:7%;
      height:auto;
      z-index:-1;
  }

  #arrow:hover{
      opacity:.35;
  }
  .fixedR {
      position:fixed;
      bottom:50%;
      right:0px; 
  }

    .fixedRButton {
      position:fixed;
      bottom:0px;
      right:0px; 
      width:10%;
      height:100%;
      opacity:.00;
  }

  .fixedRButton:hover {
      opacity:.25;
      background-color:rgb(245,250,124);
      border:none;
  }
  .fixedRButton:focus {
      outline:none;
      border:none;
  }

  .fixedL {
      position:fixed;
      bottom:50%;
      left:0px; 
  }
    .fixedLButton {
      position:fixed;
      bottom:0px;
      left:0px; 
      width:10%;
      height:100%;
      opacity:.00;
  }
    .fixedLButton:hover {
      opacity:.25;
      background-color:rgb(245,250,124);
      border:none;
  }
    .fixedLButton:focus {
      outline:none;
      border:none;
  }
      
  body {
	  background:rgb(50,160,4);
      background-image:url(../photos/bgimg.jpg);
      background-size:cover;
      position:relative;
      z-index:-1;
  }

  button.menu { 
      color:gray;
      font-family:Impact;
      font-size:200%;
      width:33%;
      text-align:center;
      background-color:white;
      border:none;
   }
  button.menu:hover {
      background-color:rgb(101,180,107);
      opacity:.75;
      color:white;
     }

  button.menu:focus{
    outline:2px solid rgb(101,180,107);
    }

  img.gal {
      display:block;
      margin:auto;
      margin-top:5%;
      padding:0px;
      width:40%;
      box-shadow:0 6px 20px 0 rgba(97,203,7, 0.67);
     }